.navBar {
  background-color: rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: space-between;
  caret-color: transparent;

  .banner {
    .logo {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  ul {
    list-style-type: none;
    position: relative;
    li {
      position: relative;
      display: inline;
      margin-right: 20px;

      a {
        position: relative;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        stroke: black;
        stroke-width: 10;
        fill: rgb(255, 255, 255);
        &:hover {
          color: rgb(0, 255, 242);
          stroke: rgb(0, 255, 242);
        }

        svg {
          margin-right: 5px;
        }

        span {
          position: relative;
          top: -5px;
        }

        img {
          margin: auto;
          stroke: red;
          margin-right: 5px;
          background-color: rgba(255, 0, 157, 0);
        }
        .blogLogo {
          margin-right: 5px;
          stroke: black;
          stroke-width: 10;
          fill: rgb(255, 255, 255);

          .pen {
            stroke: black;
            fill: rgb(255, 255, 255);
          }

          &:hover {
            stroke: white;
            stroke-width: 20;
            fill: rgb(0, 247, 255);
            .pen {
              stroke: white;
              stroke-width: 30;
              fill: rgb(0, 247, 255);
            }
          }
        }

        .logo {
          position: relative;
        }

        .bloglogo {
          top: 5px;
        }
        .shoplogo {
          top: 6px;
        }
      }
    }
  }
}
